.appscomp{
    background-color: rgb(228, 245, 196);
    font-size: larger;
    width:auto ;
    height:45.3em;
    flex-direction: row;
    padding: 20px;
    margin: auto 10px;
    border: 20px;
}
.navigates{
    background-color: rgb(196, 245, 245);
    font-size: larger;
    font-weight: bolder;
    margin: 0%;
    list-style-type: none;
    display: block;
    height: 33em;
    padding:.5em;
    float: left;
}
.outlet{
    background-color: rgb(247, 215, 246);
    font-size: larger;
    font-weight: bolder;
    flex-direction: row;
    padding:20px;
    width: 65em;
    height:31em;
    border: 100px;
    position:relative;
    float: right;
}

