<div class="appscomp">
<h1>WELCOME Mr.TEDDY</h1>
<nav class="navigates">
  <ul><li>
  <a class="button" routerLink="/home" routerLinkActive="activebutton"
    >HOME PAGE</a
  ></li><br><li>
  <a class="button" routerLink="/login" routerLinkActive="activebutton"
    >LOGIN PAGE</a
  ></li><br><li>
  <a class="button" routerLink="/signup" routerLinkActive="activebutton"
    >SIGNUP PAGE</a
  ></li><br><li>
  <a class="button" routerLink="/contact" routerLinkActive="activebutton"
    >CONTACT PAGE</a
  ></li><br><li>
    <a class="button" routerLink="/datas" routerLinkActive="activebutton"
      >DATA PAGE</a
    ></li><br><li>
    <a class="button" routerLink="/attendence" routerLinkActive="activebutton"
      >ATTENDENCE PAGE</a
    ></li><br></ul>
  </nav>
  <br>
  <div class="outlet">
    <router-outlet></router-outlet>
    </div>
</div>
